.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1{
  background-color: transparent;
  color: white;
  border: none;
  border: 2px solid whitesmoke;
  border-radius: 0;
  width: 555px;
  margin-left:0%;
  padding: 5px;
  margin-top: 20px;   
}
.h4{
  font-style: italic;
}
@media only screen and (min-width: 1024px) {
  .h1{
    background-color: transparent;
    color: white;
    border: none;
    border: 2px solid whitesmoke;
    border-radius: 0;
    width: 690px;
    margin-left: 27%;
    padding: 5px;
    margin-top: 20px;
    
  }
}